@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sub-parent-div {
  background-color: #003c43;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.sub-parent-div .logo {
  margin-top: 2%;
  /* background-color: #e3fef7; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-div .heading-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #e3fef7;
}
.parent-div .heading-div h1 {
  color: #e3fef7;
}
.parent-div .form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003c43;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  font-size: 19px;
}
.parent-div .form-div .submit-btn {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.submit-btn #form-submit-Btn {
  width: 15%;
  height: 5vh;
  background-color: #135d66;
  color: #e3fef7;
  font-size: 20px;
  border: 1px solid #e3fef7;
  border-radius: 10px;
  margin-top: 10%;
}

.submit-btn #form-submit-Btn:hover {
  background-color: #e3fef7;
  color: #135d66;
  border: 1px solid #003c43;
  cursor: pointer;
}

.parent-div .form-div .question {
  background-color: #135d66;
  width: 100%;
  height: 200px;
  color: #e3fef7;
  border: 1px solid #003c43;
  border-radius: 10px;
  padding: 15px;
  margin-top: 40px;
  box-shadow: 0px 0px 5px #e3fef7;
}
.parent-div .form-div .question:hover {
  box-shadow: 1px 1px 10px #e3fef7;
  cursor: pointer;
}
